/* removes default browser enforced styles (margin+padding) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color of the font for entire page */
body {
    /* more on this crazy alpanumerical value in a minute! */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

@media screen and (max-width: 980px) {
    header {
        position: relative;
    }
}


/* run buddy in header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

/* all text in the header box */
header a {
    text-decoration: none;
    color: #fce138;
}

/* moved nav lnks to far right */
header nav {
    margin: 7px 0;
}

/* put nav links in a row */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* nav links visual mod */
header nav ul li a:hover {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    background: #fce138;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}

/* footer visual mods */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* footer main font*/
footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* footer policy and Inc */
footer div {
    line-height: 1.5;
    text-align: right;
}

/* footer policy font color */
footer a {
    color: #024e76;
}

/* hero section */
.hero {
    padding: 60px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    }

/* hero style and location */
.hero-form {
    border: solid 3px #024e7s6;
    background-color: rgba(252, 225, 56, 0.8);
    padding: 20px;
    color: #024e76;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    border-radius: 15px;
    }

/* hero box text spacing */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0px 15px 0px;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button:hover {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #39a6b2;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

/* what we do section */
.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

/* what you do section */
.steps {
    background: #fce138;
}

/* what we do, consolidating intro h2 and steps h2 */
.section-title {
    font-size: 48px;
    color: #024e76;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

/*??????*/
.step {
    margin: 50px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3 {
    color: #024e76;
    font-size: 46px;
    flex: 1 30%;
}

.step-text p {
    color: #39a6b2;
    font-size: 18px;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}

.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-text {
    flex: 12;
}

.step-img img {
    max-width: 100%;
}

.step:not(:last-child) {
    border-bottom: 1px solid #39a6b2;
}

/* trainers section */
.trainer {
    margin: 20px;
    background: #024e76;
    color: #fce138;
    flex: 1;
}

.trainer img {
    width: 100%;
}

.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.trainer-bio h3 {
    font-size: 28px;
}

.traainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}

.trainer-bio p {
    font-size: 17px;    
}

.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* reach out section */
.section-title {
    font-size: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: #024e76;
}

.contact {
    background: #024e76;
}

.contact h2 {
    color: #fce138;
}

.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}

.contact-info p, 
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}

.contact-info a {
    color: #fce138;
}

.page-title {
    color: #fce138;
    font-size: 55px;
    text-align: center;
    
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-form input, 
.contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}
.contact-form button:hover {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}


/*homepage hero */
.hero {
    margin: 20px;
    background-color: white;
    font-size: 20px;
    color: blue;
}

/* secondary page hero */
.hero-secondary {
    margin: 20px;
    background-color: black;
    font-size: 20px;
    color: red;
}

.flex-row {
    display: flex;
}

/* styles and shadows */
.some-class {
    text-shadow: 5px 10px 15px black;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.25);
}

