/* removes default browser enforced styles (margin+padding) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color of the font for entire page */
body {
    /* more on this crazy alpanumerical value in a minute! */
    color: #39a6b2;
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* run buddy in header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* all text in the header box */
header a {
    text-decoration: none;
    color: #fce138;
}

/* moved nav lnks to far right */
header nav {
    float: right;
    margin: 7px 0;
}

/* put nav links in a row */
header nav ul li {
    display: inline;
}

/* nav links visual mod */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* footer visual mods */
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* footer main font*/
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* footer policy and Inc */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* footer policy font color */
footer a {
    color: #024e76;
}

/* hero section */
.hero {
    padding: 60px;
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* hero style and location */
.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

/* hero box text spacing */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0px 15px 0px;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}